
/*
    Created on : Mar 26, 2019, 9:24:35 PM
    Author     : deepikachandrasekar
*/
body{
	margin:0;

	font:600 16px/18px 'Helvetica',sans-serif;
}
/*Styling of the navigation menu bar*/
.navbar-inverse , .navbar-toggle {
    color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #004B6C 10%, #0395DA 90%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-collapse a:active{
    color: #00A9B6;
}

.modules-page , .modules-list{
    text-align: center;
}

#modules{
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}

#modules  td, #modules th {
  border: 1px solid #ddd;
  padding: 10px;
}

#modules tr:nth-child(even){background-color: #f2f2f2;}

#modules tr:hover {background-color: #ddd;}

#modules th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
/*Styling of the image in the user profile page and the icon in the home page*/
img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    width:100%;
}
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.ui-card{
    border: 1px solid #d3d3d3;
    padding:10px;
}
