<div class="container">
  <div class="row">
    <div class="col">
      <div class="modules-page">
        <h4> Timetable </h4>
        <div>
          <div class="ui-card">

            <!--Week tab-->
            <div class="content">
              <a class="header"> Week : {{timetableData[0].week || 0}}</a>
              <div class="meta">
              </div>
            </div>
          </div>
        </div>
        <!--List of Timetable-->
        <div class="modules-list table-responsive">
          <table id="modules" align="center">
            <tr>
              <td>Module Name</td>
              <td>Room</td>
              <td>Day</td>
              <td>Time</td>
              <td>Location</td>
              <td>Map</td>

            </tr>
            <tr ng-repeat="x in timetableData">
              <td>{{x.name}}</td>
              <td>{{x.room}}</td>
              <td>{{x.day}}</td>
              <td>{{x.time}}</td>
              <td>{{x.location}}</td>
              <td ng-if="x.location == 'Aungier Street'" <>
                <iframe width="200" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=53.33854,-6.26607&amp;output=embed">
                </iframe></td>
              <td ng-if="x.location == 'Kevin Street'" <>
                <iframe width="200" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=53.337015,-6.267933&amp;output=embed">
                </iframe></td>
              <td ng-if="x.location == 'Bolton Street'" <>
                <iframe width="200" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=53.351406,-6.268724&amp;output=embed">
                </iframe></td>
              <td ng-if="x.location == 'Cathal Brugha Street'" <>
                <iframe width="200" height="150" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ng-src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=53.352044,-6.259514&amp;output=embed">
                </iframe></td>
            </tr>
          </table>
        </div>

      </div>

    </div>
  </div>
</div>