.navbar-inverse , .navbar-toggle {
    color: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #004B6C 10%, #0395DA 90%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar-collapse a:active{
    color: #00A9B6;
}

.modules-page , .modules-list{
    text-align: center;
}

#modules{
    border: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
